<nav class="navdiv">
  <ul>
    <li><a id="nav-username" href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>  |
    <li><a href="/">home</a></li>  |
    <li><a><%= erb :"/sessions/_delete" %></a></li>
  </ul>
</nav>
