<nav>
  <ul>
    <li><a href="/about">what is jot?</a></li>  |
    <li id="login-link"><a href="/sessions/new">login</a></li>  |
    <li id="register-link"><a href="/users/new">register</a></li>
  </ul>
</nav>
<% if @ajax_error %>
  <p class="ajax-nav-errors"><%= @ajax_error %></p>
<% end %>

<% if @ajax_errors %>
<ul class="ajax-nav-errors">
  <% @ajax_errors.each do |error| %>
    <li><%= error.downcase %></li>
  <% end %>
</ul>
<% end %>
