body {
  background-color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

h1 {
  color: #222;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 600%;
}

h2, h3, h4, h5 {
  color: #222;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  clear: both;
  margin: 0;
}

nav {
  text-align: right;
}

nav li {
  display: inline-block;
}

a {
  color: #444;
  text-decoration: none;
}

.head-container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 0 1em;
  margin-top: 20px;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 25px 25px;
  clear: both;
}

.new-container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 0 25px 25px 25px;
  clear: both;
}

.jot-container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 30px 25px 60px;
  clear: both;
}

.right {
  clear: right;
  float: right;
  /*width: 35%;*/
  margin: 2% 0;
  padding: 0;
}

.left {
  clear: left;
  float: left;
  /*width: 65%;*/
  margin: 2% 0;
  padding: 0;
}

.ajax-nav-errors {
  font-size: 70%;
  font-style: italic;
  color: #AB4949;
  text-align: right;
  list-style-type: none;
}

.no-style-button {
  background: none;
}

.no-style-button input {
  background: none;
  padding: 0;
  border: none;
  font: inherit;
  outline: none;
}

#share-unshare-button {
  width: 100%;
  text-align: right;
  background: none;
  padding: 0;
  border: none;
  font: inherit;
  outline: none;
  font-style: italic;
  padding: .1em .2em 0 0;
  color: #444;
  position: relative;
  top: 0.5em;
}

#showpage-photog {
  position: relative;
  top: 1.4em;
}

.user-form input {
  display: block;
  padding: 5px;
  margin: 0 2em 2em 0;
}

.user-ajax-form {
  float: right;
  width: 153px;
  margin: 1px;
  padding: 1px;
}

.user-ajax-form input{
  width: 100%;
  padding: 2px;
  margin: 0;
  font-size: 50%;
}

.errors {
  list-style-type: none;
  color: red;
}

#nav-username {
  color: #888888;
}

.navdiv {
  position: relative;
  top: 2em;
}

.jot-block {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.unsplashed {
  display: block;
  width: 100%;
}

.jot-content {
  white-space: pre-wrap;
  margin: 8% 0;
  line-height: 1.5em;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

.jot-author {
  font-size: 80%;
  font-family: 'Roboto Condensed', serif;
  color: #888888;
}

.photog-attribution a {
  color: #888888;
  font-size: 70%;
  font-style: italic;
  margin: 0;
}

.photog-attribution {
  color: #888888;
  font-style: italic;
  margin: 0;
}

.jot-preview {
  font-family: 'Roboto', serif;
  margin-top: 0.2em;
  font-size: 175%;
}

.jotted_by {
  position: relative;
  bottom: 1.7em;
  left: 2em;
  margin: 0.1em;
  text-align: left;
  width: 100%;
  color: #888888;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.slash {
  font-size: 70%;
}

#jot-popups {
  position: relative;
  bottom: 2em;
  color: #444;
}

#prompts {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 1em;
}

#textarea-border {
  box-shadow: none;
}

#textarea-holder {
  position: relative;
  bottom: 4em;
}

textarea {
  visibility: hidden;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #444;
  background-color: #F8F8F8;
  outline-width: 0;
  border: none;
  line-height: 1.5em;
  resize: none;
}

#save {
  position: relative;
  bottom: 3.5em;
  text-align: center;
  visibility: hidden;
  width: 100%;
  margin: auto;
  background: none;
  padding: 0;
  border: none;
  font: inherit;
}

#about-container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 40px 25px;
}

#about {
  font-family: 'Roboto Slab', serif;
  color: #444;
  float: left;
  margin-bottom: 25px;
  width: 80%;
}
