<div>
  <img class="left" src="<%= jot.photo.thumb_url %>">
<!--   this p will need to display inline, derp
  you also need to have a class method that
  shows the first four or five words... -->
  <p class="right"><%=  %></p>
</div>
