<img class="left" src="<%= jot.photo.thumb_url %>">
<p class="right jot-content-preview"><%= jot.content_preview %></p>
<span class="jot-deets">
  <p class="right jot-author">jotted by <%= jot.user.username %></p>
  <p class="right jot-date">on <%= long_form_date(jot.created_at) %></p>
</span>