<!-- It'd be dope if you could add "likes" and make an algorithm that combines
recentness and "likes." You know, like that one site.... -->
<h2>Recent jots:</h2>

<% @jots.each do |jot| %>
  <%= erb :"jots/_show", layout: false, locals: { jot: jot } %>
<% end %>


<!-- Maybe something in the header with the philosophy
use directions for the site? -->
