<div class="container">
   <div class="jot-block">
    <p class="right photog-attribution"><a href="<%= @photo.photog_url %>"><%= @photo.photog_name %></a> / <a href="https://unsplash.com/">Unsplash</a></p>
    <img class="unsplashed" src="<%= @photo.url %>">
  </div>

  <div id="jot-popups" class="jot-block">
    <h3 class="right">Look</h3>
  </div>

  <div id="jot-form" class="jot-block">
    <form action="/jots" method="post">
      <textarea class="unsplashed write-here" rows="12" name="content"></textarea>
      <input type="hidden" name="photo" value="<%= @photo.id %>">
      <input type="submit" value="jotted.">
    </form>
  </div>
</div>
















