<div id="about" class="container">
    <p>Hi.</p>
    <p>This is jot.</p>
    <p>Make an account.</p>
    <p>Make a jot.</p>
    <p>It's a writing prompt app that uses the Unsplash API.</p>
    <p>(The Unsplash API can do a lot. I'm just using it to grab a random photo.)</p>
    <p>The 'create a new jot' page will begin by showing only the photo.</p>
    <p>(Right now, it shows the textarea and submit button, as well.)</p>
    <p>Then, the word 'look' will fade in and out over the course of 60 seconds.</p>
    <p>Then, the word 'write' will fade in and a textarea will appear.</p>
    <p>Then, 'write' and the textarea shadow will disappear!</p>
    <p>Then, it'll be just you, a blinking cursor, and a bit of zen.</p>
    <p>Then, after five minutes, a 'publish' button will slowly fade in.</p>
    <p>Oh, also, you can make your jots public or private.</p>
    <p>Only public jots will be displayed on the homepage.</p>
    <p>You can't delete jots. Don't even try it. You've been warned.</p>
    <p>That's all.</p>
    <p>Good god I'm tired.</p>
    <p>Love,</p>
    <p>Matt</p>
</div>
