<div id="about-container">
  <h2>Hey. I'm glad you're here.</h2>
  <div id="about"">
    <p>Jot combines one minute of mindful breathing with five minutes of writing.</p>
    <p>It's a daily chance to generate a creative spark.
    A concept for a poem. An insight into how you feel about something. Use it
    as a way to journal. Or discover new lyrics. At the very least, let it be a tiny part of the day where you're allowed to set your imagination free.</p>
    <p>Also, feel comfortable to save anything you write. It'll be automatically
    set to 'private,' and you'll be able to revisit it later.</p>
    <p>Cheers,<br>
    <a href="https://github.com/matthew-black">Matthew</a></p>
  </div>
</div>
