<div id="about-container">
  <h2>Hey. I'm glad you're here.</h2>
  <div id="about"">
    <p>jot is one minute of mindful breathing + five minutes of writing.</p>
    <p>It's a daily chance to generate a spark that could become something meaningful.
    A concept for a poem. An insight into how you feel about something. Use it
    as a way to journal. Or discover new lyrics. At the very least, let it be a tiny part of your day where you're allowed to set your imagination free.</p>
    <p>Cheers,<br>
    <a href="https://github.com/matthew-black">Matthew</a></p>
  </div>
</div>
