<div id="about-container">
  <h2>Hey. Welcome. I'm glad you're here.</h2>
  <div id="about"">

  <p>jot. is one minute of mindful breathing + five minutes of writing.</p>

  <p>I used to write a lot of poetry, and it made me happy,
  but for some reason I stopped. Learning to code is a lot like
  learning sorcery, so I thought I'd use my new (very basic) magic
  skills to make (incantate?) something for myself.</p>

  <p>For me, this is going to be a daily chance to generate a
  spark that could become something meaningful. A concept for
  a poem. Maybe an insight into how I actually feel about something.
  At the very least, it will always be a tiny part of my day where
  I get to set my imagination free. No goals. No expectations. Just
  a whole bunch of words to choose from.</p>

  <p>I chose to use the <a href="https://unsplash.com/developers">Unsplash API</a>, because I'm supposed to be learning
  how to use APIs. Also, there are lots of nice photographs on Unsplash. If you
  love the image you're presented with, it'd be super cool of you to check
  out the photographer's profile page. And for ultra super coolness, if one
  of their photos really inspires you to write something brilliant, 1,000 human-connection bonus points shall be awarded to you if you make that jot
  public and send a link to the person who made the picture.</p>

  <p>I guess that's all. If any random person ends up using/liking this app and
  has suggestions for additional features, please don't hesitate to get in touch
  with me at matthewallenblack@gmail.com.</p>

  <p>Cheers,</p>
  <p>Matthew</p>

  </div>
</div>
