<div class="jot-container">
  <p class="jot-preview">
    Sorry, you aren't authorized to view that.
  </p>
  <p>
    But hey, we'll at least reward your shenangigans with this cool
    picture of a seagull jumping off a lamp post in San Francisco:
  </p>
  <img class="unsplashed" src="https://farm8.staticflickr.com/7789/17600330923_e52ad039ad_k.jpg">
</div>